body{
	margin:0px;
}
.content{
	margin-left:58px;
}
.header-item a  {
	color: #14171a;
	 display: inline-flex;
 	flex-shrink: 1;
  	overflow: hidden
}

.header-item img{
	float: left;
    margin-top: 3px;
    position: absolute;
	height: 48px;
    border-radius: 50%;
    margin-left:-58px;
}